@import "normalize.css";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar */
.navigation {
  width: 100%;
  background-color: #232323;
  padding: 0.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 0;
  list-style: none;
  width: 50%;
  height: 100%;
  overflow: hidden;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  background: #232323;
  transition: max-width 0.5s ease-out;
  z-index: 90;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  text-decoration: underline;
}

#logo {
  max-width: 50%;
}

#logo img {
  width: 100%;
}

/* Menu Icon */
.hamburger {
  cursor: pointer;
}

.hamburger-line {
  display: block;
  background: #fff;
  height: 2px;
  width: 24px;
  position: relative;
  z-index: 5;
  z-index: 100;
}

.hamburger-line::before,
.hamburger-line::after {
  background: #fff;
  content: "";
  display: block;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  height: 100%;
}

.hamburger-line::before {
  top: 5px;
}
.hamburger-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

.side-menu:checked ~ .hamburger .hamburger-line {
  background: transparent;
}

.side-menu:checked ~ .hamburger .hamburger-line::before {
  transform: rotate(-45deg);
  top: 0;
}
.side-menu:checked ~ .hamburger .hamburger-line::after {
  transform: rotate(45deg);
  top: 0;
}

.side-menu:checked ~ .nav-menu {
  max-width: 100%;
}

/* Hero */
.hero {
  width: 100%;
  height: 725px;
  position: relative;
}

.hero-image {
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url("./public/img/senior-man-nursing-home-with-doing-physical-therapy-with-help-from-nurse-using-dumbbells.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-position: center top;
}

.hero-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.65);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 1rem;
}

.hero-heading {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.hero-text {
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

.hero-button {
  border-radius: 8px;
  padding: 1rem 2.5rem;
  background-color: #6a80e6;
  color: #fff;
  font-size: 1rem;
  border: none;
}

.hero-button:hover {
  background-color: #4c67e0;
}

/* Desktop */
@media screen and (min-width: 768px) {
  .nav-menu {
    flex-direction: row;
    max-width: none;
    position: static;
    background: inherit;
    justify-content: flex-end;
  }

  .hamburger {
    display: none;
  }

  #logo {
    max-width: 100%;
  }

  .hero-heading {
    font-size: 3.5rem;
  }

  .hero-text {
    font-size: 2rem;
  }

  .hero-button {
    font-size: 1.5rem;
  }
}

/* Large Screen */
@media screen and (min-width: 2500px) {
  .hero {
    height: 1200px;
  }
}
